.swiper {
  padding: 40px 0;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
  filter: grayscale(100%) opacity(40%);
}

.swiper-slide:hover {
  filter: grayscale(0%) opacity(100%);
  transform: scale(1.1);
}

.swiper-slide img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .swiper-slide img {
    width: 40px;
    height: 40px;
  }
}